/*fonts*/
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic);

@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

html, body{
    background: url(https://www.coloradoski.com/sites/default/files/inline-images/Disc_Golf_1_0.jpg);
    background-repeat:   no-repeat;
    background-position: center center;
    background-size: cover;
}

body{
    counter-reset:section;
    text-align:center;
}
a {
    text-decoration: none;
    padding-right: 20px;
    color: white;
    text-shadow: 2px 2px black;
}
a:visited {
    color: white;
}

.top-links {
    text-align: right;
    padding: 10px;
    font-size: 140%;
}

.container{
    position:relative;
    top:100px;
}

.container h1, .container span{
    font-family:"Pt Sans", helvetica, sans-serif;
}
.errors{
    font-family:"Pt Sans", helvetica, sans-serif;
    font-size: large;
}

.error{
    background-color: white;
}
.container h1{
    text-align:center;
    color:#fff;
    font-weight:100;
    font-size:2em; 
    margin-bottom:10px;
}

.container h2{
    font:600 16px/18px 'Open Sans',sans-serif;
    color: rgb(79, 137, 212); 
    text-align:center;
    font-size: 2.3em;
    text-shadow: 3px 3px black;
}

.container form span:before {
    counter-increment:section;
    content:counter(section);
    border:2px solid black;
    width:40px;
    height:40px;
    color:#fff;
    display:inline-block;
    border-radius:50%;
    line-height:1.6em;
    font-size:1.5em;
    position:relative;
    left:-22px;
    top:-11px;
    background: rgb(79, 137, 212);
    box-shadow: 1px 1px black;
}

form{
    margin-top:25px;
    display:inline-block;
}

.fields{
    border-left:2px solid rgb(4, 0, 255);
}

.container span{
    margin-bottom:22px; 
    display:inline-block;
}

.container span:last-child{
    margin-bottom:-11px;
}
.button {
	
	background:linear-gradient(to bottom, rgb(86, 147, 228) 5%, rgb(67, 116, 180) 100%);
	background-color:rgb(79, 137, 212);
	border-radius:21px;
	border:2px solid rgb(63, 127, 211);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:12px 33px;
	text-decoration:none;
}

.header-stuff{
    display: flex;
    justify-content: space-around;


}
input{
    border:none;
    outline:none;
    display:inline-block;
    height:34px;
    vertical-align:middle;
    position:relative;
    bottom:14px;
    right:9px;
    border-radius:22px;
    width:220px;
    box-sizing:border-box;
    padding:0 18px; 
}