
body {
    background-repeat:   no-repeat;
    background-position: center center;
    background:url(https://i.pinimg.com/originals/f6/c3/23/f6c3239ce841a287ae5bc8d04a402b0e.jpg);
    background-size: cover;
    font:600 16px/18px 'Open Sans',sans-serif;
    
}
.flexbox .no,
.no-flexbox .yes {display: none}
.container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    color: rgb(4, 0, 255);
    word-wrap: break-word;
    text-decoration: none;
    
}
.header-buttons{
    display: flex;
    justify-content: space-around;
}

.all-courses{
    font-size: 60px;
    text-shadow: 2px 2px white;
}

a:visited {
    color: rgb(4, 0, 255);
}

.button {
	
	background:linear-gradient(to bottom, #8ad368 5%, #609745 100%);
	background-color:#71bb4f;
	border-radius:21px;
	border:2px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:12px 33px;
	text-decoration:none;
}
.button:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
.button:active {
	position:relative;
	top:1px;
}


header,
footer {text-align: center;}
.container {
    width: 75%;
    margin: 1em auto;
}
.cell {
    overflow: hidden;
}
.container .row .cell.header {
    color: #FFF;
    background-color: #1161ee;
}
.row {
    background: rgb(192, 186, 186);
}
.row.alt {
    background: #b1a6a6;
}
.flexbox .container {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}
.flexbox .container .row {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}
.flexbox .row .cell {
    flex: 1;
    width: 25%;
}
.row .cell {
    padding: 1em;
    border: 1px solid #222;
}
@media all and (max-width: 43.125em) {
    
    .header {display: none;}
    .flexbox .row .cell:before {
        content: attr(title);
        width: 75px;
        display: block;
        background: #222;
        color: #fff;
        padding: .25em .5em;
        position: absolute;
        top: 0;
        left: 0;
    }
    .flexbox .container .row {
        flex-direction: column;
    }
    .flexbox .row .cell {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        position: relative;
        padding: 3em 0 1em 1em;
    }

}

  /* Fallbacks */

.no-flexbox .container {
        display: table; 
}
.no-flexbox .row {
    display: table-row;
}
.no-flexbox .cell {
    display: table-cell;
}

