<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/create-course.css' %}">
</head>
<body>
    <div class="top-links">
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Log Out</a>
    </div>

    
    <div class="container">
        <h2>Add A Course</h2>
        <form action="/process_course" method="post">
            {% csrf_token %}
            <div class="fields">
            <span>
                <input placeholder=" Course Name" type="text"id="name" name="name" required />
            </span>
            <br />
            <span>
                <input placeholder="City" type="text" id="city" name="city" required />
            </span>
            <br />
            <span>
                <input placeholder="State" type="text" id="state" name="state" required />
            </span>
            <br />
            <span>
                <input placeholder="# of Holes" type="number" id="number_of_holes" name="number_of_holes" required />
            </span>
            <br />
            <span>
                <input placeholder="Par" type="number" id="par" name="par" required />
            </span>
            <br />
            </div>
            <div class="submit">
                <button class="button">Submit</button>
            </div>
        </form>
        {% for message in messages %}
            <div class="error">
                <li class="errors">{{message}}</li>
            <div>

        {% endfor %}
        </div>
        
</body>
</html>