<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/dashboard.css' %}">
</head>
<body class="background">

    <div class="top-links">
        <a href="/dashboard" class="header-link">Dashboard</a>
        <a href="/logout" class="header-link">Log Out</a>
    </div>
    <h1 class="all-courses">Welcome Back {{user.fname}}!!</h1>

    <script src="//ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.7.2.js"></script>
    <section>
        <header><h1 class="all-courses">All Courses</h1>
        <div class="header-buttons">
            <div class="cell header"> <button class="button"><a href="/create_course">Add A Course!</a></button></div>
            <div class="cell header"> <button class="button"><a href="/favorites">Liked Courses</a></button></div>
        </div>
        
        </header>
        <div class="container">
            <div class="row header">
            <div class="cell header">Course Name</div>
            <div class="cell header">City</div>
            <div class="cell header">State</div>
            <div class="cell header">Holes</div>
            <div class="cell header">Likes</div>
            <div class="cell header">Actions</div>
            </div>
            {% for course in courses %}
            <div class="row">
            <div class="cell" title="Name"><span><a href="course/{{course.id}}" class="table-links">{{course.name}}</a></span></div>
            <div class="cell" title="City"><span>{{course.city}}</span></div>
            <div class="cell" title="State"><span>{{course.state}}</span></div>
            <div class="cell" title="Holes"><span>{{course.number_of_holes}}</span></div>
            <div class="cell" title="Like"><span>{{course.liked_by.all|length}}</span></div>
            <div class="cell" title="Par"><span><a href="/like/{{course.id}}" class="table-links">Like</a></span> | <a href="review/{{course.id}}" class="table-links">Review</a> | <a href="delete_course/{{course.id}}" class="table-links">Remove</a></div>
            </div>
            {% endfor %}
            <!-- <a href="delete_course/{{course.id}}">Remove</a> -->
    </section>
    <footer>
        <ul class="social">
        <li><a href="https://twitter.com/mayursuthar2693" target="_blank"><i class="icon-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/mayursuthar2693" target="_blank"><i class="icon-facebook"></i></a></li>
        <li><a href="https://www.linkedin.com/in/sutharmayur" target="_blank"><i class="icon-linkedin"></i></a></li>
        <li><a href="https://www.pinterest.com/MayurSuthar2693/" target="_blank"><i class="icon-pinterest"></i></a></li>
        <li><a href="https://plus.google.com/109916819421919014146/posts" target="_blank"><i class="icon-google-plus"></i></a></li>
        <li><a href="https://www.instagram.com/mayursuthar2693/" target="_blank"><i class="icon-instagram"></i></a></li>
        </ul>
        </footer>
</body>
</html>