<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/dashboard.css' %}">
</head>
<body>

    <body class="background">
        <a href="/logout">Log Out</a>
        <a href="/dashboard">Dashboard</a>
    
        <script src="//ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.7.2.js"></script>
        <section>
            <header><h1>Favorite Courses</h1>
            </header>
            <div class="container">
                <div class="row header">
                <div class="cell header">Course Name</div>
                <div class="cell header">City</div>
                <div class="cell header">State</div>
                <div class="cell header">Holes</div>
                <div class="cell header">Likes</div>
                <div class="cell header">Actions</div>
                </div>
                {% for course in courses %}
                <div class="row">
                <div class="cell" title="Name"><span><a href="course/{{course.id}}">{{course.name}}</a></span></div>
                <div class="cell" title="City"><span>{{course.city}}</span></div>
                <div class="cell" title="State"><span>{{course.state}}</span></div>
                <div class="cell" title="Holes"><span>{{course.number_of_holes}}</span></div>
                <div class="cell" title="Like"><span>{{course.liked_by.all|length}}</span></div>
                <div class="cell" title="Par"><a href="review/{{course.id}}">Review</a> | <a href="delete_course/{{course.id}}">Remove</a></div>
                </div>
                {% endfor %}
                <!-- <a href="delete_course/{{course.id}}">Remove</a> -->
        </section>
</body>
</html>