<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Review</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/leave_review.css' %}">
</head>
<body>
    <div class="top-links">
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Log Out</a>
    </div>
    <div class="lower-content">
        <h2>Would you like to make a review for {{course.name}}?</h2>
        <form class="form" action="/process_review" method="post">
        {% csrf_token %}
        <input type="hidden" name="course_id" value="{{course.id}}">
        <label for="content">Review:</label>
        <input type="text" name="content" id="content" required><br>
        <label for="rating">Rating:</label>
        <input type="number" name="rating" id="rating" required min="1" max="5"><br>
        <button>Add Review</button>
        </form>
    </div>
</body>
</html>